.left {
  left: 10%;
  bottom: 5%;
  transform: translate(-17%, -30%);
  z-index: 1;
}

.right {
  right: 5%;
  bottom: 5%;
  transform: translate(-10%, -30%);
  z-index: 1;
}

.center {
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -30%);
  z-index: 1;
}

.whitehella-style span {
  letter-spacing: normal;
  font-size: 50px;
  line-height: 40px;
  position: relative;
  z-index: 0;
}

.whitehella-style p {
  font: 400 50px var(--font-whitehella);
  background: var(--Gradient-The-bacchanal);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 2.5;
  text-align: center;
  position: relative;
  bottom: 10px;
  z-index: 1;
}

.swiper-pagination.pagLeft {
  left: 3%;
  bottom: 3%;
  transform: translate(-10%, -40%);
}

.swiper-pagination.pagRight {
  right: 3%;
  left: unset;
  bottom: 5%;
  transform: translate(-5%, -10%);
}

.swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #d9d9d9;
  opacity: 1;
  background: transparent;
  width: 10px;
  height: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #d9d9d9;
}

@media screen and (max-width: 767px) {
  .whitehella-style span {
    font-size: 35px;
  }

  .whitehella-style p {
    font-size: 35px;
  }

  .top-banner-title {
    font-size: 65px;
  }

  .top-banner-span {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 11.55px;
  }
}

@media screen and (max-width: 1023px) {
  .top-banner-span {
    line-height: 125%;
  }

  .whitehella-style span {
    line-height: 107%;
  }

  .whitehella-style p {
    line-height: 260%;
  }

  .whitehella-style {
    text-align: center;
    min-width: 270px;
  }

  .center {
    bottom: 5%;
    top: 5%;
    transform: translate(-50%, 42%);
  }

  .right, .left {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
    min-width: 330px;
  }

  .swiper-pagination.pagLeft, .swiper-pagination.pagRight {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 340px) {
  .right, .left {
    min-width: auto;
  }
}