.gradient::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--Gradient-The-bacchanal);
}

@keyframes pan-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ee322e, #f5ec44, #279345);
  background-size: 300% 100%;
  animation: pan-gradient 3s linear infinite alternate;
}
