---

---

<section
  class="relative flex h-[100dvh] w-full bg-[url('/src/assets/images/guatape-moment-bg.webp')] bg-cover bg-no-repeat"
>
  <h4
    class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform text-center'
  >
    <span class='font-koulen text-[50px]'>Your Perfect Guatape Moment</span>
    <p
      class='font-whitehella text-gradient-bacchanal relative bottom-5 text-[50px] leading-[2.2]'
    >
      Starts Here
    </p>
  </h4>

  <p
    class='absolute bottom-28 left-1/2 mb-4 max-w-[700px] -translate-x-1/2 transform text-center text-[18px] text-pretty'
  >
    At El Bacchanal, you don't just eat—you feast with all your senses. Our
    lakeside terrace overlooks Guatapé's sparkling waters, where every sunset
    paints the sky in colors as vibrant as our dishes.
  </p>
</section>
