.waves {
  position: absolute;
  bottom: var(--waves-bottom);
  transform: translate(0%, var(--waves-translate-y));
  z-index: -10;
  width: 100%;
  height: 100%;
}

svg {
  animation: container-fade-in 0.8s ease-out;
}

.animate-wave-1 {
  opacity: 0;
  transform-origin: 300px 300px;
  animation: wave-pulse 3s ease-out infinite;
  animation-delay: 0s;
}

.animate-wave-2 {
  opacity: 0;
  transform-origin: 300px 300px;
  animation: wave-pulse 3s ease-out infinite;
  animation-delay: 0.6s;
}

.animate-wave-3 {
  opacity: 0;
  transform-origin: 300px 300px;
  animation: wave-pulse 3s ease-out infinite;
  animation-delay: 1.2s;
}

.animate-wave-4 {
  opacity: 0;
  transform-origin: 300px 300px;
  animation: wave-pulse 3s ease-out infinite;
  animation-delay: 1.8s;
}

.animate-wave-5 {
  opacity: 0;
  transform-origin: 300px 300px;
  animation: wave-pulse 3s ease-out infinite;
  animation-delay: 2.4s;
}

@keyframes wave-pulse {
  0% {
    r: 30;
    opacity: 0;
    transform: scale(0.8);
  }

  5% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    r: 300;
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes container-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width:1023px) {
  .text-image-content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .text-image-content {
    width: var(--text-image-width);
    row-gap: var(--text-image-rowgap);
  }

  /* variant example: "mean" */
  .text-image--bacchanalmean {
    --text-image-width: 90%;
    --text-image-rowgap: 90px;
    max-width: 1024px;

    --waves-bottom: -48%;
    --waves-translate-y: -20%;
  }

  /* ejemplo variante: "story" */
  .text-image--bacchanalstory {
    --text-image-width: 60%;
    --text-image-rowgap: 50px;

    --waves-bottom: 140px;
    --waves-translate-y: -2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-image-content {
    width: var(--text-image-width);
    row-gap: var(--text-image-rowgap);
  }

  .text-image--bacchanalmean {
    --text-image-width: 60%;
    --text-image-rowgap: 90px;
    max-width: 1024px;

    --waves-bottom: -48%;
    --waves-translate-y: -20%;
  }

  .text-image--bacchanalstory {
    --text-image-width: 40%;
    --text-image-rowgap: 70px;

    --waves-bottom: 140px;
    --waves-translate-y: -2%;
  }
}

/* Fonts */
@media screen and (max-width: 767px) {
  .text-white-bacchanal {
    font-size: 25px;
  }
}

@media screen and (max-width: 399px) {
  .text-image--bacchanalstory {
    --waves-translate-y: -10%;
  }
}


@media screen and (min-width: 400px) {
  .title-text-image {
    width: max-content;
  }
}

@media screen and (min-width: 768px) {
  .text-balance {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .waves {
    right: calc(50vw - 490px);
    width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .waves {
    right: calc(50vw - 530px);
  }
}

@media screen and (min-width: 1440px) {
  .waves {
    right: calc(50vw - 540px);
  }
}

@media screen and (min-width: 1600px) {
  .waves {
    right: calc(50vw - 660px);
    width: 600px;
  }
}