---
import Gradient from '@/components/Gradient/Gradient.astro';
import NavMenu from '@/components/NavBar/NavMenu.astro';
import { Image } from 'astro:assets';
import BacchanalLogo from '@/assets/images/bacchanal-icon-image.webp';
---

<Gradient
  as='header'
  containerClass='grid w-full grid-cols-3 items-center justify-items-center gap-x-10 p-[11px] before:bottom-px'
>
  <NavMenu />
  <a href='/'>
    <Image
      src={BacchanalLogo}
      width={90}
      height={70}
      alt='Logo for El Bacchanal, a bar in Guatapé, Colombia, featuring a red, yellow, and green gradient background, a firecracker icon, a cocktail glass, and the Instagram handle @el_bacchanal.'
      loading='eager'
    />
  </a>
</Gradient>
