---
import Gradient from '@/components/Gradient/Gradient.astro';

import { getRelativeLocaleUrl } from "astro:i18n";

const currentLang = Astro.currentLocale ?? 'es';

// Load all translations into /src/i18n and resolve the relevant one
const translations = import.meta.glob('/src/i18n/*.ts', { eager: true }) as Record<string, any>;
const messages = translations[`/src/i18n/${currentLang}.ts`]?.default
  ?? translations[`/src/i18n/${currentLang}.js`]?.default
  ?? { footer: {} };

// Define the routes (use keys to search the translation object)
const components = [
  { key: 'menu', href: '/menu' },
  { key: 'deliveryMenu', href: '/delivery-menu' },
  { key: 'aboutUs', href: '/about-us' },
];

const date: number = new Date().getFullYear();
const copyright = messages?.footer?.copyright ?? 'El Bacchanal. All rights reserved';
---

<Gradient
  as='div'
  containerClass='flex w-full items-center justify-between px-20 py-8 before:top-0'
  isAnimated
  hasGradient
>
  <nav>
    <ul class='flex gap-x-[34px]'>
    {components.map((c) => (
      <li>
        <a href={getRelativeLocaleUrl(currentLang, c.href)}>
          {messages?.footer?.[c.key] ?? c.key}
        </a>
      </li>
    ))}
    </ul>
  </nav>

  <p>&copy; {date} {copyright}</p>
</Gradient>
