/* Traditional animations are used */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slider-container {
  overflow: hidden;
  margin: 2rem auto;
}

.slider-img {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.9s ease;
}

.slider-img :hover {
  transform: scale(1.05);
}

.slider-img.appearing {
  animation: appear 1.5s ease forwards;
}

.my-slider:hover {
  cursor:
    url('./cursor-slider.png') 8 8,
    auto;
}

.slider-fallback {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .title-follow-us {
    font-size: 45px;
  }

  .title-instagram {
    font-size: 25px;
  }

}